body, h1, h2, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #555;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 0.01em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
}


div {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-info {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


h1, h2, h3, p, ul, table {
    margin-bottom: 20px;
}

#hobbys {

}

#persona {

}

#interesses{

}

#vakken {

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
    border-radius: 3px;
}

.datagrid table td,
.datagrid table th {
    padding: 3px 10px;
}







