.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
}

.gridNav {
    background-color: #c6c0ff;
}

.gridMain {
    background-color: #f9f6d2;
}

.gridAside {
    background-color: #d4ffd1;
}

.gridFooter {
    background-color: #ffd1d1;
}






@media (min-width: 787px) {
    .grid {
        display: grid;
        text-align: center;

        .grid {
            display: grid;
            grid-template-areas:
                "header header header header header"
                ". navigation main aside ."
                 "footer footer footer footer footer";
            grid-template-columns: 5% 10% 70% 10% 5%;
        }
    }
    .gridHeader {
        grid-area: header;
        }
    .gridNav {
        grid-area: nav;
    }
    .gridMain { grid-area: main; }
    .gridAside { grid-area: aside; }
    .gridFooter { grid-area: footer; }

}

